.grid-container {
  margin: 20px;
 
}
h1{
  margin: 1rem;
  text-align: center;
}
.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.product-card {
  padding: 1rem;
  max-width: 300px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}
.product-card img {
  margin: auto;
  width: 98%;
  }

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.product-content{
  padding: 0.8rem;
}